##
# SOURCE CODE
##
src/
tests/
babel.config.js
prettier.config.js
tsconfig.json
.eslintrc.js
.jestrc.js

##
# NODE
##

# Modules dependencies
node_modules/

# Environment
.env

##
# GENERATED
##

# by github
.github/

# by others
.idea/
coverage/
